body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

a:hover {
    text-decoration: none;
    color:plum;
}

.headerlink {
    color:whitesmoke
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge #d7e2f5;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(to right, #8541c9c7, skyblue, whitesmoke);
}

.navbar-toggler{
    color:plum;
    background-image: url("ddown.svg");
}

#abtus{
    padding-top: 1.5% ;
}